* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  flex-wrap: wrap;
}

canvas {
  border: 2px solid black;
  cursor: pointer;
}

#controls-container {
  flex: 1;
  min-width: 350px;
}

h1 {
  font-size: xx-large;
}

#method-container {
  padding-bottom: 20px;
}

#method-container label,
#method-container select {
  font-size: larger;
}

#grid-size-container {
  padding-bottom: 20px;
}

#grid-size-container label,
#grid-size-container input {
  font-size: larger;
}

#grid-size-container input {
  width: 70px;
}

#speed-container label {
  display: block;
  font-size: larger;
}

#speed-container input {
  width: 300px;
  height: 40px;
}

#randomizer-container {
  padding-bottom: 20px;
}

#randomizer-container button {
  padding: 10px;
  font-size: larger;
}

#types-container {
  min-width: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#types-container label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
}

label span {
  padding-left: 8px;
  padding-right: 11px;
}

#types-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.check {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #00000080;
}

.check img {
  width: inherit;
  height: inherit;
  opacity: 0;
}

input:checked + .check img {
  opacity: 100;
}
